{% extends './base.html' %}
{% load static %}
{% load bootstrap4 %}



{% block body %}
    <style>
        label{
            width:100%
            }
        .nice-select{
        margin-bottom: 10px;
        }
    </style>
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>{{funding_detail.title}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="job_details_header">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div class="thumb" style="display: flex;justify-content: center;align-items: center;">
                                    <img src="{{funding_detail.image.url}}" alt="" width="82px" height="82px">
                                </div>
                                <div class="jobs_conetent">
                                    <a href="#"><h4>{{funding_detail.title}}</h4></a>
                                    <div class="links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p> <i class="fa fa-clock-o"></i>{{funding_detail.category}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jobs_right">
                                <div class="apply_now">
                                    <style>
                                    .reporthim{background: #EFFDF5;border-radius: 5px;border:0}
                                    .reporthim:hover{background: #00D363;color: #fff;}
                                    </style>
<!--                                        -->
                                    <a class="btn btn-outline-success reporthim " href="#" style=""> Report </a>
                                    <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="descript_wrap white-bg">
                        <div class="single_wrap">
                            <h4>Funding Details</h4>
                            <p>{{funding_detail.details}}</p>
                            <p>Start at: <span>{{funding_detail.start|date:'d M o'}}</span></p>
                            <p>End at: <span>{{funding_detail.end|date:'d M o'}}</span></p>
                            <p>Category: <span>{{funding_detail.category}}</span></p>
                            <a class="btn btn-outline-success reporthim " href="#" style="margin:10px auto">Donate</a>

                            <hr>
                        <!-- Start Comments Section -->
                            <div class="comment-conainer">
                            <h4>Comments</h4>
                            <input type="text" placeholder="Comment" id="amount"
                                   class="w-100"
                                   style="border:1px solid #7a838b38; color:#7A838B; font-size: 14px; font-weight:400;padding:10px;border-radius: 3px;">
                            <a class="btn btn-outline-success reporthim " href="#" style="margin:10px auto"> Add Comment </a>
                            </div>

                            <p style="border: 1px solid #7a838b38;border-radius: 3px;color: #7A838B;font-size: 14px;font-weight: 400;padding: 5px;">
                                dddddddddd
                            </p>
                            <a class="btn btn-outline-success reporthim " href="#" style="margin:10px auto">Report</a>

                        <!-- End Comments Section -->
                            <hr>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="job_sumary">
                        <div class="summery_header">
                            <h3>Funding Summery</h3>
                        </div>
                        <div class="job_content">
                            <ul>
                                <li>Start at: <span>{{funding_detail.start|date:'d M o'}}</span></li>
                                <li>End at: <span>{{funding_detail.end|date:'d M o'}}</span></li>
                                <li>Category: <span>{{funding_detail.category}}</span></li>
                                <li>Target: <span>{{funding_detail.target}} LE</span></li>
<!--                                <li>Location: <span>California, USA</span></li>-->
<!--                                <li>Job Nature: <span>{{funding_detail.job_type}}</span></li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="share_wrap d-flex">
                        <span>Share at:</span>
                        <ul>
                            <li><a href="#"> <i class="fa fa-facebook"></i></a> </li>
                            <li><a href="#"> <i class="fa fa-google-plus"></i></a> </li>
                            <li><a href="#"> <i class="fa fa-twitter"></i></a> </li>
                            <li><a href="#"> <i class="fa fa-envelope"></i></a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}