{% extends './base.html' %}
{% load static %}
{% block body %}

<style>
    input {
    border:1px solid #7A838B;
    color:#7A838B;
    font-size: 14px;
    font-weight:400;
        width: 100%;
        border-radius: 3px;
        padding: 10px;
        margin: 10px auto;
    }
</style>
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>{{listlength.count}}+ Fundings Available</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

    <!-- job_listing_area_start  -->
    <div class="job_listing_area plus_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="job_filter white-bg">
                        <div class="form_inner white-bg">
                            <h3>Filter</h3>
                            <form action="#" method="get">
                                {{myfilter.form}}
                        <div class="reset_btn">
                            <button  class="boxed-btn3 w-100 mt-3" type="submit">Search</button>
                        </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                <div class="recent_joblist_wrap">
                    <div class="recent_joblist white-bg ">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <h4>Fundings Listing</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="job_lists m-0">
                    <div class="row">
<!--                            startin loooooop here-->
                        {% for i in funding_list %}
                        <div class="col-lg-12 col-md-12">
                            <div class="single_jobs white-bg d-flex justify-content-between">
                                <div class="jobs_left d-flex align-items-center">
                                    <div class="thumb" style="display: flex;justify-content: center;align-items: center;">
                                        <img src="{{i.image.url}}" alt="" width="82px" height="82px">
                                    </div>
                                    <div class="jobs_conetent">
                                        <a href="{% url 'funding:funding_details' i.id %}"><h4>{{i.title}}</h4></a>
                                        <div class="links_locat d-flex align-items-center">
                                            <div class="location">
                                                <p> <i class="fa fa-usd"></i>{{i.target}} LE</p>
                                            </div>
                                            <div class="location">
                                                <p> <i class="fa fa-clock-o"></i>{{i.category}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="jobs_right">
                                    <div class="apply_now">
                                        <a class="heart_mark" href="#"> <i class="fa fa-heart"></i> </a>
                                        <a href="{% url 'funding:funding_details' i.id %}" class="boxed-btn3">View Funding</a>
                                    </div>
                                    <div class="date">
                                        <p>End Date: {{ i.end |date:'d M o' }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
<!--                            ending loooooop here-->

                    </div>
                    {% if funding_list.has_other_pages %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pagination_wrap">
                                <ul>
                                    {% if funding_list.has_previous %}
                                        <li><a href="?page={{ funding_list.previous_page_number }}"> <i class="ti-angle-left"></i> </a></li>
                                    {% endif %}

                                    {% for i in funding_list.paginator.page_range %}
                                    <li><a href="?page={{i}}"><span>{{i}}</span></a></li>
                                    {% endfor %}

                                    {% if funding_list.has_next %}
                                        <li><a href="?page={{ funding_list.next_page_number }}"> <i class="ti-angle-right"></i> </a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- job_listing_area_end  -->

{% endblock body %}
