{% extends 'base.html' %}
{% load bootstrap4 %}

{% load static %}
{% block body %} 
 <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
        </div>
    </div>
    <!--/ bradcam_area  -->

        <div class="card ml-5 mr-5" style="width: 22rem;float: left; margin-top: 5rem;">

        <img class="card-img-top " src="{% if profile.image %}{{ profile.image.url }}
               {% else %}{% static 'accounts/imgs/default.jpg' %}{% endif %}" alt="Card-image-cap">

        <div class="card-body">
            <h5 class="card-title">First Name: {{profile.user.username}}- </h5>
            <h5 class="card-title">Last Name: {{profile.user.last_name}}</h5>
            <h5 class="card-title">Email: {{profile.user.email}}</h5>
            <h5 class="card-title">Phone: {{profile.phone}}</h5>
            {% if profile.facebook_profile %}
                <h5 class="card-title">Facebook profile:-
                    <a href="{{ profile.facebook_profile }}">{{ profile.facebook_profile }}</a>
                </h5>
            {% endif %}
            {% if profile.country %}
                <h5 class="card-title">Country: {{ profile.country }} </h5>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center">

        <div class="col-9" style="width: 50rem; float: left;margin-top: 2rem;">
            <h2 style="text-align: center;">My Projects</h2>
            <style>
                table{
                    text-align: center;
                }

                a{
                    text-decoration: none;
                    color: white;
                }
            </style>
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Tages</th>
                </tr>
                </thead>
                <tbody>
                {% for p in projects %}
                    <tr>

                        <td><a href="{% url 'funding:funding_details' p.id %}" >{{p.title}}</a>

                        </td>
                        <td>{{p.category}}</td>
                        <td>
                            {% for t in p.project_tags.all %}
                                {{ t }}
                            {% endfor %}
                        </td>
                        <td>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="p-5">
                <a class="boxed-btn3 w-100  warn" href="{% url 'accounts:profile_edit' %}"> Edit Profile</a>
                <a style="margin-top: 1rem;" class="btn btn-danger w-100" href="{% url 'accounts:warn'%}">Delete my account</a>
            </div>
        </div>
    </div>

    <div style="clear: both;"></div>
    {% endblock body %}
